*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }
 ul {
    list-style: none;
 }
 a {
    text-decoration: none;
    outline: none;
 }
 img {
    display: block;
    width: 100%;
 }
 h1, h4, h5, h6 {
    font-weight: normal;
    letter-spacing: 1px;
 }
 body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #373737;
    background: #f7f7f7;
 }
header{
    display: flex;
    padding: 2% 5%;
    flex-wrap: nowrap;
    height: 80px;
} 
ul{
    display: flex;
    width: 100%;
    font-size: 16px;
    justify-content: flex-end;
}
ul li {
    padding: 5px;
}
section {
width: 100%;
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/935d26ae03315201b50dd7cc/wsqe-min.jpg) ;
padding: 7px;
}
.one{
    width: 300px;
    height: 505px;
margin: 10px;
}
.two {

    color: #111111;
    background-color: #ffffff78;
    padding: 30px;
    
}
h2{
    font-size: 96px;
    color: #ca6552 ;
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    text-align: left;
    
}
h3{
font-family: monsterat;
color: black;
padding-top: 20px;
font-size: 22px;
text-align: left;
font-weight: 400;
vertical-align:middle;


}
.three{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    flex-direction: column;
    margin-top: 24px;
    color: black;
    text-align: left;
    font-weight: 400;
}
.four{
    display: flex;
    flex-direction: row;
}
.five {
    margin: 30px 185px 0px 0px ;
    font-size: 16px;
    border-bottom: solid #ce801a;
}
.five a{color: black;}
.one_one{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
  justify-content: center;
}
.seven{display: none;}
@media (min-width:765px) and (max-width:990px) {

    ul{display: none;}

.seven {
    border-top: 10px solid rgb(34, 34, 34);
    margin: 0px 0px 3px;
    width: 10px;
}
.one{
    width: 350px;
    height: 433px;
margin: 10px;
margin-bottom: 40px;
}
h3{padding-top: 30px;}

}
@media (min-width:575px) and (max-width:765px) {

    ul{display: none;}
    .one{
        width: 540px;
        height: 347px;
    margin: 10px;
    margin-bottom: 50px;
    }
    h2{
        font-size: 120px;
        color: #ca6552 ;
        font-family: 'Roboto', sans-serif;
        margin: 20px;
        text-align: left;
    }
    h3{padding-top: 50px;}     
}
@media (max-width:575px){
    ul{display: none;}
    .one{
        width: 340px;
        height: 400px;
    margin-bottom: 100px;
    }   
    h3{padding-top: 30px;}    
}